*Introduction_to_Django/LibraryProject/.venv
Introduction_to_Django/LibraryProject/.env

# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Django-specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# MySQL dump files
*.sql

# JetBrains IDEs (PyCharm etc.)
.idea/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations (optional if you don’t want to track them early)
# */migrations/.py
# */migrations/.pyc