{% extends "base.html" %}
{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>

<p><small>By {{ object.author }} | {{ object.created_at }}</small></p>

{% if user == object.author %}
  <a href="{% url 'post-update' object.pk %}">Edit</a>
  <a href="{% url 'post-delete' object.pk %}">Delete</a>
{% endif %}

<a href="{% url 'post-list' %}">Back to Posts</a>
{% endblock %}








<!-- {% extends "base.html" %}
{% block content %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <small>By {{ post.author }} on {{ post.created_at }}</small>

  {% if user == post.author %}
    <a href="{% url 'post-update' post.pk %}">Edit</a>
    <a href="{% url 'post-delete' post.pk %}">Delete</a>
  {% endif %}
{% endblock %} -->
