<!-- {% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ user.username }}!</h2>
<p>Email: {{ user.email }}</p>

<a href="{% url 'logout' %}">Logout</a>
{% endblock %} -->


{% extends "base.html" %}
{% block content %}
<h2>My Profile</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Account Info</legend>
        {{ u_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Profile Info</legend>
        {{ p_form.as_p }}
    </fieldset>

    <button type="submit">Update Profile</button>
</form>

{% if user.profile.avatar %}
    <h3>Current Avatar:</h3>
    <img src="{{ user.profile.avatar.url }}" alt="avatar" style="width:100px; height:100px;">
{% endif %}
{% endblock %}
